:root {
    --color-primary: #231815;
    --color-main-bg: #fffffd;
    --color-orange: #e45302;
    --color-orange-ligth: #f88b4c;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: var(--color-main-bg);
    font-weight: 400;
}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1600px) {
    .container {
        max-width: 1270px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 44px;
    }
}

@media (max-width: 390px) {
    .container {
        padding: 0 35px;
    }
}